.cabecera p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: inherit;
}

.entrada{
    display: flex;
    align-items: center;
    
}

.cabecera a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}


header{
    
    border-bottom: 2px solid #9c787875;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 3px 3px 10px;
    
    
    
}

.alinear{
    
    position: absolute;
    right: 5%;
    
    
}
.cabecera{
    display: flex;
    gap: 15px;
}
.cabecera a{
    font-size: 1.2rem;
}
.contenedor{
    max-width: 1024px;
    position: relative;
    margin: auto;
}
.cabecera a:hover{
    color:aquamarine
}

.contenidoP{ 
    display: flex;
    max-width: 1024px;
    gap: 20px;
    margin: 30px auto;
}

.contenidoP p{
    max-width: 500px;
    font-size: 1.3rem;
    
}

.contenidoA p{
    max-width: 500px;
    font-size: 1.3rem;
    display: flex;
    margin: 30px auto;
    
}

.contenidoA img{
    border: solid #181717 1.5px;
    border-radius: 5px;

}
.contenidoP img{
    border: solid #181717 1.5px;
    border-radius: 5px;

}
.contenido_principal{
    align-items: center;
    max-width: 1024px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2.0rem;
    color: #FFF;
}

.contend{
    
    margin: auto;
    background:url('https://images.pexels.com/photos/1547813/pexels-photo-1547813.jpeg?auto=compress&cs=tinysrgb&w=1600') center;
    box-shadow: 4px 4px 10px;
    height: 15rem;


}

.frase{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;   
    justify-content: center;
    
    
}
.centraFrase{
    color: rgba(248, 3, 77, 0.973);
    position: relative;
}

.centraFrasea{
    color: rgba(248, 3, 77, 0.973);
    border: 1px #FFF solid;
    border-radius: 5px;
    position: relative;
    width: 40%;
    text-align: center;
}

.centraFrasea:hover{
    background: linear-gradient(to left, #0dbcc965, #FFF);
}
header{
    background:linear-gradient();
}